body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: 0;
    padding: 0;
    background: url('goa\ best.jpng.jpg') center/cover no-repeat fixed;
    color: #28a745;
    transition: color 0.5s ease-in-out; 
    opacity: 0;
    animation: fadeIn 1s ease-out 1.5s forwards; 



section {
    padding: 40px;
    opacity: 0;
    transform: translateY(20px);
    transition: opacity 1s, transform 1s;
}

section.show {
    opacity: 1;
    transform: translateY(0);
    animation: fadeIn 1s ease-out forwards; 
}

@keyframes fadeIn {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
.custom-button {
    background-color: #4CAF50; /* Green */
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
    margin: 4px 2px;
    cursor: pointer;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    transition: background-color 0.3s ease;
}
